:root {
  --clr-deep-green: #1c5540;
  --clr-deep-teal: #131C1B;
  --clr-base-dark: #0d1615;
  --clr-lime-green: #bce955;
  --clr-cream: #f1eee6;
  --clr-white: #fff;
  --clr-dark: #000;
  --clr-gray: #626262;
  --clr-green-black: #182120;
  --clr-midnight: #192221;
  --font-primary: "Inter Tight", sans-serif;
}